<!DOCTYPE html>
<html lang="en">
<div class="child-body">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 panel panel-default">
                <div class="panel-body">
                    <h2>ng2-bootstrap test</h2>
                    <div class='panel'>
                        <h4>First hand results in Beijing</h4>
                        <div class="container-fluid">
                            <div class="btn-toolbar" role="toolbar">
                                <button type="button" *ngFor="#entry of searchingItems" class="btn btn-default" (click)="removeItemFromSearchItems($event)">
                                    {{entry.name}}
                                </button>
                            </div>
                        </div>
                        <div class="container-fluid panel">
                            <input [(ngModel)]="asyncSelected" [typeahead]="getAsyncData(getContext())" (typeaheadLoading)="changeTypeaheadLoading($event)"
                            (typeaheadNoResults)="changeTypeaheadNoResults($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                            [typeaheadOptionField]="'name'" [typeaheadOptionsLimit]="7" placeholder="Community name here"
                            class="form-control" (keyup)="enterQuery($event)">
                            <div [hidden]="typeaheadLoading!==true">
                                <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
                            </div>
                            <div [hidden]="typeaheadNoResults!==true" class="" style="">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <tabset removable="true" >
                            <tab *ngFor="#tabz of searchingItems" [heading]="tabz.name" [active]="tabz.active" (select)="tabz.active = true" (deselect)="tabz.active = false"
                            [disabled]="tabz.disabled">
                                <fh-table [data]="searchingFhRecords[tabz.id]"></fh-table>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>