<!DOCTYPE html>
<html lang="en">
<div class="child-body">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 panel panel-default">
                <div class="panel-body">
                    <h2>ng2-bootstrap test</h2>
                    <div class="panel">
                    <input *ngIf="config.filtering" placeholder="Filter" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)"
                    />
                    <ngTable [config]="config.sorting" (tableChanged)="onChangeTable(config)" [rows]="rows" [columns]="columns"></ngTable>
                    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                    [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                    (numPages)="numPages = $event">
                    </pagination>
                    <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>