<!DOCTYPE html>
<html lang="en">
<div class="child-body">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 panel panel-default">
                <div class="panel-body">
                    <h2>ng2-bootstrap test</h2>
                    <p>
                        <button type="button" name="button" class="btn btn-default" (click)="addAlert()">Add Alert</button>
                    </p>
                    <p>
                        <alert *ngFor="#alert of alerts" [type]="alert">Test alert</alert>
                    </p>
                    <h2>Please search</h2>
                    <!--<div class='container-fluid'>
                        <h4>Static arrays</h4>
                        <pre>Model: {{selected | json}}</pre>
                        <input [(ngModel)]="selected" [typeahead]="statesComplex" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeaheadOptionField]="'name'"
                        class="form-control">
                        <h4>Asynchronous results</h4>
                        <pre>Model: {{asyncSelected | json}}</pre>
                        <input [(ngModel)]="asyncSelected" [typeahead]="getAsyncData(getContext())" (typeaheadLoading)="changeTypeaheadLoading($event)"
                        (typeaheadNoResults)="changeTypeaheadNoResults($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                        [typeaheadOptionsLimit]="7" placeholder="Locations loaded with timeout" class="form-control">
                        <div [hidden]="typeaheadLoading!==true">
                            <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
                        </div>
                        <div [hidden]="typeaheadNoResults!==true" class="" style="">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>-->
                    <div class="container-fluid">
                        <input *ngIf="config.filtering" placeholder="Filter" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)"
                        />
                        <ngTable [config]="config.sorting" (tableChanged)="onChangeTable(config)" [rows]="rows" [columns]="columns"></ngTable>
                        <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                        [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                        (numPages)="numPages = $event">
                        </pagination>
                        <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>